go 1.24

use (
	.
	./contrib/buildinfo-chi
	./contrib/buildinfo-echo
	./contrib/buildinfo-fiber
	./contrib/buildinfo-gin
	./contrib/buildinfo-nethttp
	./contrib/buildinfo-otel
	./contrib/buildinfo-slog
	./contrib/buildinfo-zap
)
